.searchBar__input {
    background-color: rgb(205, 245, 247);
    align-self: center;
    position: relative;
    color: blue;
    outline: none;
    border: none;
    width: 250px;
    height: 1.5rem;
    font-size: medium;
    border-bottom: 1px solid blueviolet;
    background: transparent;
}